@font-face {
    font-family: "Black";
    src: local("Black");
    src: url("../assets/fonts/Exo2-Black.ttf") format("truetype");
}

@font-face {
    font-family: "BlackItalic";
    src: local("BlackItalic");
    src: url("../assets/fonts/Exo2-BlackItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src: local("Bold");
    src: url("../assets/fonts/Exo2-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "BoldItalic";
    src: local("BoldItalic");
    src: url("../assets/fonts/Exo2-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "ExtraBold";
    src: local("ExtraBold");
    src: url("../assets/fonts/Exo2-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "ExtraLight";
    src: local("ExtraLight");
    src: url("../assets/fonts/Exo2-ExtraLight.ttf") format("truetype");
}

@font-face {
    font-family: "ExtraLightItalic";
    src: local("ExtraLightItalic");
    src: url("../assets/fonts/Exo2-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Medium";
    src: local("Medium");
    src: url("../assets/fonts/Exo2-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Regular";
    src: local("Regular");
    src: url("../assets/fonts/Exo2-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SemiBold";
    src: local("SemiBold");
    src: url("../assets/fonts/Exo2-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "SemiBoldItalic";
    src: local("SemiBoldItalic");
    src: url("../assets/fonts/Exo2-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Thin";
    src: local("Thin");
    src: url("../assets/fonts/Exo2-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "ThinItalic";
    src: local("ThinItalic");
    src: url("../assets/fonts/Exo2-ThinItalic.ttf") format("truetype");
}